.title {
    color: blueviolet;
}
.url1 {
    font-size: 30px;
    background-color: red;
}
.url2 {
    font-size: 45px;
    padding: 10px;
    border: 50px;
    color: aquamarine;
}
.voltBob {
    font-size: 50px;
}
